@font-face {
	font-family: 'Netrunner';
	src:url('fonts/Netrunner.eot?-fuq2l8');
	src:url('fonts/Netrunner.eot?#iefix-fuq2l8') format('embedded-opentype'),
		url('fonts/Netrunner.woff?-fuq2l8') format('woff'),
		url('fonts/Netrunner.ttf?-fuq2l8') format('truetype'),
		url('fonts/Netrunner.svg?-fuq2l8#Netrunner') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'Netrunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Shaper-smooth:before {
	content: "\e613";
}
.icon-Shaper:before {
	content: "\e603";
}
.icon-Honor-and-Profit:before {
	content: "\e614";
}
.icon-Spin-Cycle:before {
	content: "\e615";
}
.icon-Genesis-Cycle:before {
	content: "\e616";
}
.icon-Creation-and-Control:before {
	content: "\e617";
}
.icon-Core-Set:before {
	content: "\e618";
}
.icon-credit:before {
	content: "\e600";
}
.icon-recurring-credit:before {
	content: "\e608";
}
.icon-click:before {
	content: "\e611";
}
.icon-link:before {
	content: "\e601";
}
.icon-trash:before {
	content: "\e606";
}
.icon-mu:before {
	content: "\e610";
}
.icon-1mu:before {
	content: "\e60a";
}
.icon-subroutine:before {
	content: "\e604";
}
.icon-3mu:before {
	content: "\e60e";
}
.icon-2mu:before {
	content: "\e60c";
}
.icon-anarch:before {
	content: "\e605";
}
.icon-criminal:before {
	content: "\e612";
}
.icon-haas-bioroid:before {
	content: "\e602";
}
.icon-weyland-consortium:before {
	content: "\e607";
}
.icon-jinteki-simple:before {
	content: "\e005";
}
.icon-jinteki:before {
	content: "\e609";
}
.icon-nbn:before {
	content: "\e60b";
}
.icon-agenda:before {
	content: "\e60d";
}
.icon-rez:before {
	content: "\e60f";
}
