@font-face {
	font-family: 'netrunner';
	src:url('fonts/netrunner.eot');
	src:url('fonts/netrunner.eot?#iefix') format('embedded-opentype'),
		url('fonts/netrunner.woff') format('woff'),
		url('fonts/netrunner.ttf') format('truetype'),
		url('fonts/netrunner.svg#netrunner') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'netrunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-credit:before {
	content: "\e600";
}
.icon-link:before {
	content: "\e601";
}
.icon-haas-bioroid:before {
	content: "\e602";
}
.icon-shaper:before {
	content: "\e603";
}
.icon-subroutine:before {
	content: "\e604";
}
.icon-anarch:before {
	content: "\e605";
}
.icon-trash:before {
	content: "\e606";
}
.icon-wayland-consortium:before {
	content: "\e607";
}
.icon-recurring-credit:before {
	content: "\e608";
}
.icon-jinteki:before {
	content: "\e609";
}
.icon-1mu:before {
	content: "\e60a";
}
.icon-nbn:before {
	content: "\e60b";
}
.icon-2mu:before {
	content: "\e60c";
}
.icon-asset:before {
	content: "\e60d";
}
.icon-3mu:before {
	content: "\e60e";
}
.icon-rez:before {
	content: "\e60f";
}
.icon-mu:before {
	content: "\e610";
}
.icon-click:before {
	content: "\e611";
}
.icon-criminal:before {
	content: "\e612";
}
